<!DOCTYPE html>
<html>
  <head>
    <title>Nilblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>Welcome to Nilblog</h1>
    </header>
    <%= yield %>
    <footer>
      <p>A project to practice Rails by <a href='htttp://www.github.com/dixonscottr'>Scott Dixon</a></p>
    </footer>
  </body>
</html>
